section.note {
	text-align: center;
	background-color: #eee;
	color: red;
	padding: 9px 1px;
	border-bottom: green 1px dotted;
}

/* style for the main part of the web page */
section.intro-header {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	justify-content: space-between;
}
img {
	width: 30%;
	border-radius: 50%;
}

article.main-article {
	line-height: 25px;
	margin-left: 19vw;
	margin-right: 19vw;
	margin-bottom: 35px;
}

article.main-article h3 {
	margin: 15px 0 0 0;
	padding: 0;
}
/* 
		max width 490px
*/
@media (max-width: 490px) {
	/* style for the main part of the web page */

	main article.main-article h3 {
		font-size: 12px;
		margin-top: 19px;
	}
	section.intro-header {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-content: center;
	}
	section.contents * {
		font-size: 11px;
	}

	img {
		width: 20%;
		border-radius: 50%;
	}

	article.main-article {
		line-height: 16px;
		margin-left: 2vw;
		margin-right: 2vw;
		margin-bottom: 35px;
		width: 96vw;
	}
}
section.print {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
section.print a {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1vw 5vw;
	background-color: #fff;
	padding: 5px 7px;
	color: blue;
	border: 1px gray solid;
	border-radius: 4px;
	cursor: pointer;
	width: 75px;
}
/* 
		max width 690px
*/
@media (max-width: 690px) and (min-width: 490px) {
	/* style for the main part of the web page */

	main article.main-article h3 {
		font-size: 14px;
		margin-top: 19px;
	}
	section.intro-header {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-content: center;
	}
	section.contents * {
		font-size: 14px;
	}

	img {
		width: 20%;
		border-radius: 50%;
	}

	article.main-article {
		line-height: 18px;
		margin-left: 3vw;
		margin-right: 3vw;
		margin-bottom: 35px;
		width: 94vw;
	}
}

@media print {
	header.main-header *,
	section.aside-wrapper *,
	section.note,
	section.print,
	section.EMF-container,
	section.subscribe-wrapper,
	footer {
		display: none;
	}
	section.nav {
		display: none;
	}
	@page {
		margin: 0.5cm;
	}
}
