/* 
		style for the main part of the page
*/

main section.interesting-header {
	border-bottom: 2px green solid;
	text-align: center;
}
main section.interesting-header p:first-child {
	font-weight: bold;
}

section.interesting-wrapper {
	margin: 20px 20px;
}

section.interesting-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: flex-start;
	margin-top: 20px;
}

section.interesting-list section.interesting-description {
	width: 25vw;
	box-shadow: 5px 4px 3px 6px rgb(196, 185, 128);
	padding: 5px 6px;
	border-radius: 14px;
}

section.interesting-list section.interesting-demo {
	width: 60vw;
	padding: 15px 1px;
	border-radius: 24px;
	box-shadow: 5px 4px 3px 6px rgb(196, 185, 128);
}

section.interesting-list section.interesting-demo img,
section.interesting-list section.interesting-demo video {
	width: 59.5vw;
	border: 1px rgba(128, 0, 128, 0.219) solid;
	outline: none;
	border-radius: 18px;
}

section.interesting-list section.interesting-demo div.interaction {
	display: flex;
	flex-direction: row;
	border-top: 4px gold dotted;
	border-bottom: 4px rgb(0, 255, 13) dotted;
	padding-bottom: 4px;
}

section.interesting-list
	section.interesting-demo
	div.interaction
	div.interaction-items {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 25px;
}
section.interesting-list
	section.interesting-demo
	div.interaction
	div.interaction-items
	i {
	cursor: pointer;
}
section.interesting-list
	section.interesting-demo
	div.interaction
	div.interaction-items
	i.red {
	color: rgb(231, 13, 13);
}

section.interesting-list
	section.interesting-demo
	div.interaction
	div.interaction-items
	i.blue {
	color: rgb(0, 26, 255);
}
/* 
    max width 760px
*/
@media (max-width: 760px) {
	section.interesting-wrapper {
		margin: 20px 20px;
	}

	section.interesting-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-top: 20px;
	}

	section.interesting-list section.interesting-description {
		width: 85vw;
		box-shadow: 5px 4px 3px 6px rgb(196, 185, 128);
		padding: 5px 6px;
		border-radius: 14px;
	}

	section.interesting-list section.interesting-demo {
		width: 85vw;
		padding: 15px 6px;
		border-radius: 24px;
		box-shadow: 5px 4px 3px 6px rgb(196, 185, 128);
		margin-top: 19px;
	}

	section.interesting-list section.interesting-demo img,
	section.interesting-list section.interesting-demo video {
		width: 84vw;
		border: 1px rgba(128, 0, 128, 0.219) solid;
		outline: none;
		border-radius: 18px;
	}
}
