/* 
		style for the main part of the page
*/

main section.login-header {
	border-bottom: 2px blue solid;
	border-top: 2px blue solid;
	padding: 20px 0px;
	text-align: center;
	background-color: rgba(0, 0, 255, 0.281);
}
main section.login-header p:first-child {
	font-weight: bold;
	font-size: 19px;
}
main section.login-header p:last-child {
	color: red;
	font-size: 19px;
}
main section.login-wrapper {
	background-color: green;
	border-bottom: 2px blue solid;
	padding: 30px 0px;
}
main section.login-container {
	margin-left: 30vw;
}
main section.login-container input {
	width: 20vw;
	padding: 9px 11px;
	font-size: 18px;
	outline: none;
	border: 2px rgba(0, 128, 0, 0.575) solid;
	border-radius: 19px;
}
main section.login-container input[type="button"] {
	background-color: rgba(29, 40, 139, 0.274);
	border: 2px rgba(0, 2, 128, 0.637) solid;
	color: white;
	width: 10vw;
	cursor: pointer;
}

/* 
		max width 890px
*/

@media (max-width: 890px) {
	main section.login-header {
		border-bottom: 2px blue solid;
		border-top: 2px blue solid;
		padding: 20px 0px;
		text-align: center;
		background-color: rgba(0, 0, 255, 0.281);
	}
	main section.login-header p:first-child {
		font-weight: bold;
		font-size: 19px;
	}
	main section.login-header p:last-child {
		color: red;
		font-size: 19px;
	}
	main section.login-wrapper {
		background-color: green;
		border-bottom: 2px blue solid;
		padding: 30px 0px;
	}
	main section.login-container {
		margin-left: 1vw;
	}
	main section.login-container input {
		width: 26vw;
		padding: 9px 11px;
		font-size: 12px;
		outline: none;
		border: 2px rgba(0, 128, 0, 0.575) solid;
		border-radius: 19px;
	}
	main section.login-container input[type="button"] {
		background-color: rgba(29, 40, 139, 0.274);
		border: 2px rgba(0, 2, 128, 0.637) solid;
		color: white;
		width: 25vw;
		cursor: pointer;
		font-size: 15px;
	}
}
