body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
}
.current {
	background-color: green;
	border-radius: 5px;
	padding: 2px;
}
nav.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 17px;
	background: black;
}

nav.main-nav a {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	justify-items: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 17px;
	padding: 4px 3px;
}

nav.main-nav a:hover {
	background: white;
	color: blue;
	text-shadow: rgb(0, 255, 13) 2px 2px 2px;
	border-radius: 5px;
}

header.main-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px;
	background: rgba(9, 9, 196, 0.712);
	color: white;
	font-weight: bold;
	font-size: 22px;
}

header.main-header div.pContainer {
	width: 90vw;
	height: 45px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
header.main-header div.pContainer p {
	width: 88vw;
	height: 30px;
	overflow: hidden;
}

header.main-header button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 4vw;
	color: white;
	background: rgba(9, 9, 196, 0.281);
	border: none;
}

header.main-header button i {
	font-size: 28px;
	cursor: pointer;
}
header.main-header button:hover {
	background: white;
	color: blue;
}
/* side bar of the website */

section.aside-wrapper {
	display: none;
	position: absolute;
	background-color: rgba(221, 221, 221, 0.493);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	width: 100vw;
	height: 100vh;
}
aside.main-aside {
	display: flex;
	flex-direction: column;
	background: rgb(205, 205, 223);
	padding: 19px;
	width: 20vw;
	float: right;
}
div#close-menu {
	padding: 5px 3px;
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: 19px;
	width: 25px;
	text-align: center;
	border-radius: 20%;
	cursor: pointer;
}

aside.main-aside section {
	display: flex;
	flex-direction: column;
}
aside.main-aside section p {
	border-bottom: 1px green solid;
}
aside.main-aside a,
aside.main-aside section a {
	text-align: left;
	text-decoration: none;
	color: rgb(27, 13, 228);
	margin-top: 11px;
}
button#menu:hover > aside.main-aside {
	display: flex;
}

/* section subscribe */

section.subscribe-wrapper {
	background: radial-gradient(
		circle at 46%,
		rgb(18, 18, 158),
		rgb(14, 121, 156),
		rgb(141, 118, 40),
		blue
	);
}
section.subscribe {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;

	margin-left: 10vw;
	padding: 19px 22px;
}

section.subscribe p {
	margin-left: 15px;
	font-size: 24px;
	padding: 11px;
	background-color: rgba(255, 255, 0, 0.26);
	border-radius: 9px;
	color: white;
}

section.subscribe input {
	margin-left: 15px;
	font-size: 23px;
	padding: 11px;
	border-radius: 9px;
	border: green 1px solid;
	outline: none;
	width: 40vw;
}

section.subscribe button {
	margin-left: 15px;
	background-color: rgba(255, 1, 1, 0.726);
	color: white;
	font-size: 23px;
	padding: 11px;
	border-radius: 9px;
	border: rgb(0, 19, 128) 1px solid;
	outline: none;
	cursor: pointer;
}
section.subscribe button:hover {
	background-color: rgb(0, 255, 255);
}

/* 

	style for the projects

*/

article.good-projects {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
}
section.project-header {
	border-bottom: 4px dotted rgb(27, 124, 15);
	text-align: center;
}
section.direct-project {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 4px solid rgb(245, 229, 13);
	border-radius: 2vw;
	background: #ccc;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 300px;
	height: 250px;
}
section.project-description {
	background: blue;
	color: white;
	font-size: 13px;
	padding: 0px 4px;
	border-radius: inherit;
	text-align: center;
	height: inherit;
}

section.project-description p:first-child {
	background-color: rgba(12, 232, 240, 0.596);
	margin-left: 14%;
	margin-right: 14%;
	padding: 3% 4%;
	border-radius: inherit;
	font-size: 16px;
	font-weight: bold;
}
section.project-sources {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

section.direct-project h2 {
	color: #fff;
	background-color: #000;
	cursor: pointer;
	border-radius: 9px;
	padding: 4px 5px;
}
section.direct-project h2:hover {
	background-color: green;
}
section.direct-project h2 a {
	color: #fff;
	text-decoration: none;
}
/**
		media queries

*/

@media screen and (max-width: 490px) {
	section.direct-project {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-around;
		align-items: flex-end;
		border: 4px solid rgb(245, 229, 13);
		border-radius: 2vw;
		background-image: url("./images/custom-player.png");
		background-size: cover;
		background-position: center;
		margin-bottom: 20px;
		margin-top: 20px;
		width: 290px;
		height: 290px;
	}
}

@media screen and (max-width: 624px) {
	article.good-projects {
		display: grid;
		grid-template-columns: auto;

		justify-content: space-around;
	}
}

@media screen and (max-width: 1010px) and (min-width: 624px) {
	article.good-projects {
		display: grid;
		grid-template-columns: auto auto;

		justify-content: space-around;
	}
}
