/* 
		style for the main part of the website
*/

main article.service-wrapper {
	margin: 4vw 10vw;
	background-color: rgba(255, 255, 255, 0.274);
	padding: 20px 15px;
	border-radius: 19px;
}
section.service-header {
	border-bottom: 2px green solid;
}
section.service-header h2 {
	text-align: center;
	background-color: blueviolet;
	color: white;
	border-bottom: 1px solid blue;
	padding: 15px 20px;
	border-radius: 15px;
}
section.service-list {
	display: grid;
	grid-template-columns: 3fr 2fr;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;
}
section.service-list p:first-child {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	background-color: blue;
	border-radius: 9px;
	color: white;
}

section.service-description {
	margin-right: 15px;
	border: 1px rgb(38, 0, 255) solid;
	border-radius: 18px;
	background-color: #fff;
	box-shadow: rgba(128, 128, 128, 0.747) 2px 3px 3px 4px;
}

section.service-pricing {
	border: 2px solid rgb(43, 255, 0);
	border-radius: 18px;
	background-color: #fff;
	box-shadow: rgba(63, 158, 39, 0.719) 2px 2px 1px 2px;
}

section.service-list p:last-child {
	padding: 1px 7px;
}

/* 
		max width 390px
*/

@media (max-width: 390px) {
	main article.service-wrapper {
		margin: 2vw 2vw;
		background-color: rgba(255, 255, 255, 0.274);
		border-radius: 19px;
	}
	section.service-header {
		border-bottom: 2px green solid;
	}
	section.service-header h2 {
		text-align: center;
		background-color: blueviolet;
		color: white;
		border-bottom: 1px solid blue;
		padding: 5px 7px;
		border-radius: 15px;
	}
	section.service-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-top: 15px;
	}
	section.service-list p:first-child {
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: bold;
		background-color: blue;
		border-radius: 9px;
		color: white;
	}

	section.service-description {
		border: 1px rgb(38, 0, 255) solid;
		border-radius: 18px;
		background-color: #fff;
	}

	section.service-pricing {
		border: 2px solid rgb(43, 255, 0);
		border-radius: 18px;
		background-color: #fff;
	}

	section.service-list p:last-child {
		padding: 1px 7px;
	}
}

/* 
		max width 590px
*/

@media (max-width: 590px) and (min-width: 390px) {
	main article.service-wrapper {
		margin: 2vw 2vw;
		background-color: rgba(255, 255, 255, 0.274);
		border-radius: 19px;
	}
	section.service-header {
		border-bottom: 2px green solid;
	}
	section.service-header h2 {
		text-align: center;
		background-color: blueviolet;
		color: white;
		border-bottom: 1px solid blue;
		padding: 7px 9px;
		border-radius: 15px;
	}
	section.service-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 15px;
	}
	section.service-list p:first-child {
		text-align: center;
		padding-top: 7px;
		padding-bottom: 7px;
		font-weight: bold;
		background-color: blue;
		border-radius: 9px;
		color: white;
	}

	section.service-description {
		border: 1px rgb(38, 0, 255) solid;
		border-radius: 18px;
		background-color: #fff;
	}

	section.service-pricing {
		border: 2px solid rgb(43, 255, 0);
		border-radius: 18px;
		background-color: #fff;
	}

	section.service-list p:last-child {
		padding: 1px 7px;
	}
}
/* 
		last query media --- max width 790px
*/
@media (max-width: 790px) and (min-width: 590px) {
	main article.service-wrapper {
		margin: 2vw 2vw;
		background-color: rgba(255, 255, 255, 0.274);
		border-radius: 19px;
	}
	section.service-header {
		border-bottom: 2px green solid;
	}
	section.service-header h2 {
		text-align: center;
		background-color: blueviolet;
		color: white;
		border-bottom: 1px solid blue;
		padding: 7px 9px;
		border-radius: 15px;
	}
	section.service-list {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 15px;
	}
	section.service-list p:first-child {
		text-align: center;
		padding-top: 7px;
		padding-bottom: 7px;
		font-weight: bold;
		background-color: blue;
		border-radius: 9px;
		color: white;
	}

	section.service-description {
		border: 1px rgb(38, 0, 255) solid;
		border-radius: 18px;
		background-color: #fff;
	}

	section.service-pricing {
		border: 2px solid rgb(43, 255, 0);
		border-radius: 18px;
		background-color: #fff;
	}

	section.service-list p:last-child {
		padding: 1px 7px;
	}
}
